$colors-core: (
    ciscoBlue: #00bceb,
    indigoBlue: #005073,
    green: #6ebe4a,
    orange: #fbab18,
    red: #e2231a,
    white: #ffffff
);

$colors-secondary: (
    darkGray1: #39393b,
    darkGray2: #58585b,
    mediumGray2: #9e9ea2,
    white: #ffffff,
    lightBlue: #f2fbfd,
    vibrantBlue: #017cad
);

$colors-supporting: (
    darkGray3: #626469,
    darkGray4: #7f7f86,
    mediumGray4: #b6b9bb,
    lightGray2: #c6c7ca,
    lightGray3: #dfdfdf,
    lightGray5: #f2f2f2
);